# Homework  Table of contentï¼š
* [1. ](#bullet1)
* [2. ](#bullet2)
* [3. ](#bullet3)
* [4. ](#bullet4)
* [5. ](#bullet5)
* [6. ](#bullet6)
* [7. ](#bullet7)

In [1]:
#import library
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
#data import
f = pd.read_csv("D:/Git_Desk/data_works/MDS_stuffs/hw_data/nycflights.csv")
f.head()

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,1,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,3,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,4,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,5,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00

#### 1. <a class="anchor" id="bullet1"></a>[20 pts] Write a function that takes a single numerical vector and returns three values, the minimum number, the median, and the maximum number of the vector. Test your function using the month column of the flights dataset.

In [3]:
#define a function that gather inputs from dataframe: 
def min_median_max(value):
    return np.min(value), np.median(value), np.max(value)
#set input as month column:
min_median_max(f["month"])

(1, 7.0, 12)

#### 2. [5 pts] Explain your reasoning for choosing your function's name in the previous question. <a class="anchor" id="bullet2"></a>

the reason I choose the function name as "min_median_max" is because it simply tell us the purpose of the function with an order of 1: min, 2: median, 3: max, and this is easy for programmer to call and test the function.

#### 3. [20 pts] Write a function that categorizes a numerical variable in the flights data into four categories. <a class="anchor" id="bullet3"></a>

The function should have two arguments. The first should represent the data object and the second should represent a column name in the data object.

The function should first limit the data to include the column name only. Then it should return one new column which categorizes the column into four categories in the following manner. For any particular variable in the flights data that represents military time (i.e.-0 to 2400 where 1200 represents 12 in the afternoon and 2400 represents midnight), the function should classify values into four categories: - "Morning" for values from 5 am to 11:59 am - "Afternoon" for values from 12 pm to 4:59 pm - "Evening" for values from 5 pm to 8:59 pm - "Night" for values from 9 pm to 4:59 am  
Test your function using the dep_time column of the flights dataset. Print a frequency table of the output.

In [4]:
#drop NaN value so we don't overcount the last category:
f_clear = f.dropna(subset=["dep_time"])

#define the function:
def dep_time_to_category(data, col_name):
    #create a column:
    time_in_day = data[col_name]
    dep_cat = []
    for dtime in time_in_day:
        if dtime >= 500 and dtime <= 1159:
            dep_cat.append("Morning")
        elif dtime > 1159 and dtime <= 1659:
            dep_cat.append("Afternoon")
        elif dtime > 1659 and dtime <= 2059:
            dep_cat.append("Evening")
        else:
            dep_cat.append("Night")
    return dep_cat

#create the column departure_in with the original data from column "dep_time" by the function.
f_clear["departure_in"] = dep_time_to_category(f_clear, "dep_time")
f_clear["departure_in"].value_counts()

C:\Users\suisx\AppData\Local\Temp\ipykernel_9756\2764442458.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_clear["departure_in"] = dep_time_to_category(f_clear, "dep_time")

Morning      129539
Afternoon     98617
Evening       79793
Night         20572
Name: departure_in, dtype: int64

In [5]:
'''Please ignore this part, this is just another approach without using a function.
#create 2 criterias:
conditions = [(f["month"] <= 3), (f["month"] <= 6) & (f["month"] >3), (f["month"] <= 9) & (f["month"] > 6), (f["month"] > 9)] 
choices = ["Quarter_One", "Quarter_Two", "Quarter_Three", "Quarter_Four"]
#build a 
f["quarter"] = np.select(conditions, choices, default=np.nan)
f["quarter"].value_counts()
'''

'Please ignore this part, this is just another approach without using a function.\n#create 2 criterias:\nconditions = [(f["month"] <= 3), (f["month"] <= 6) & (f["month"] >3), (f["month"] <= 9) & (f["month"] > 6), (f["month"] > 9)] \nchoices = ["Quarter_One", "Quarter_Two", "Quarter_Three", "Quarter_Four"]\n#build a \nf["quarter"] = np.select(conditions, choices, default=np.nan)\nf["quarter"].value_counts()\n'

#### 4. [5 pts] Explain your reasoning for choosing your function's name in the previous question. <a class="anchor" id="bullet4"></a>

because this is a function that write the value in a list depending on the criteria column, in this case, we are generating 4 categories that includes "morning", "afternoon", "evening", and "night". therefore, I named it as dep_time_to_category which means generate category variable by departure time, which is easy to find and understand.

#### 5. [20 pts] Write a function that calculates the median of all numeric variables in the flights dataset.  <a class="anchor" id="bullet5"></a>

Hint: There are several ways to subset to numeric values only. The code below will select numeric colmns only. Once you have a dataset of numeric variables only, you can use a pandas function to return a pd.DataFrame object which has the median for all variables (I might try using the apply function here). Another way to do this is with a for loop (which we will learn next week, but it's a simple enough concept that you can google and learn how to use it for this assignment).

In [6]:
#define a function, get numeric value from dataframe and find medium:
def get_numeric_median(f):
    #create a df with only numeric columns:
    df_num = f.select_dtypes(include=np.number)
    medians = df_num.median()
    #build a dataframe with dictionary index and value.
    df_median = pd.DataFrame({'median': medians})
    return df_median
#apply the function to build new dataframe:
flight_median = get_numeric_median(f)
flight_median

                  median
Unnamed: 0      168388.5
year              2013.0
month                7.0
day                 16.0
dep_time          1401.0
sched_dep_time    1359.0
dep_delay           -2.0
arr_time          1535.0
sched_arr_time    1556.0
arr_delay           -5.0
flight            1496.0
air_time           129.0
distance           872.0
hour                13.0
minute              29.0

In [7]:
"""Old code
#create a df with only numeric columns:
df_num = f.select_dtypes(include=np.number)
#create medians dictionary, has to be dictionary
medians = {}
#define a function, in dictionary medians, we are getting median from data in df_num:
def get_median(col, df_num):
    for col in df_num.columns:
        medians[col] = df_num[col].median()
#form the data from medians into a pd.DataFrame.  
    df_median = pd.DataFrame.from_dict(medians, orient='index', columns=['median'])
    return df_median
df_median
"""

"Old code\n#create a df with only numeric columns:\ndf_num = f.select_dtypes(include=np.number)\n#create medians dictionary, has to be dictionary\nmedians = {}\n#define a function, in dictionary medians, we are getting median from data in df_num:\ndef get_median(col, df_num):\n    for col in df_num.columns:\n        medians[col] = df_num[col].median()\n#form the data from medians into a pd.DataFrame.  \n    df_median = pd.DataFrame.from_dict(medians, orient='index', columns=['median'])\n    return df_median\ndf_median\n"

In [8]:
"""my slow way to filter the non-numeric data:
#create a function:
def only_numeric_col(dataframe):
    #create a list of column kept:
    col_keep = []
    #define numeric data type:
    for col in dataframe:
        if dataframe[col].dtype == "float64" or dataframe[col].dtype == "int64":
            col_keep.append(col)
    return col_keep

# bring in the dataframe to my function
subset_num = f[only_numeric_col(f)]
subset_num
"""

'my slow way to filter the non-numeric data:\n#create a function:\ndef only_numeric_col(dataframe):\n    #create a list of column kept:\n    col_keep = []\n    #define numeric data type:\n    for col in dataframe:\n        if dataframe[col].dtype == "float64" or dataframe[col].dtype == "int64":\n            col_keep.append(col)\n    return col_keep\n\n# bring in the dataframe to my function\nsubset_num = f[only_numeric_col(f)]\nsubset_num\n'

#### 6. [5 pts] Explain your reasoning for choosing your function's name in the previous question. <a class="anchor" id="bullet6"></a>

The name of the function is telling us that I am building a function that will get numeric value from dataframe and find the median for all columns. And then we use flight_median and apply the function to output the dataframe.

#### 7. <a class="anchor" id="bullet7"></a>Modify the function t_test() we wrote in class together this week so that this function can handle violations to the homogeneity of variance (hov) assumption. This assumption is described below in case you are not familiar with it.

In [9]:
def t_test(num_var, bin_var):  
    
    # define two groups based on the binary predictor
    group1 = num_var[bin_var == 0]
    group2 = num_var[bin_var == 1]
    #mean difference:
    mean_diff = group2.mean() - group1.mean()
    #sample means
    mean_g1 = group1.mean()
    mean_g2 = group2.mean()
    #two group variances
    var_g1 = group1.var()
    var_g2 = group2.var()
    #sample sizes
    n_g1 = group1.shape[0]
    n_g2 = group2.shape[0]
    
    #compare variance for group1 and group2:
    var_ratio = var_g1 / var_g2
    if var_ratio > 0.25 and ratio < 4:
        
        # Calculate the degrees of freedom (std_t_df)
        std_t_df = n_g1 + n_g2 - 2

        # Calculate the pooled standard deviation (sp)
        sp = np.sqrt(((n_g1 - 1) * var_g1 + (n_g2 - 1) * var_g2) / std_t_df)

        # Calculate the standard error of the mean difference
        SE_mean_diff = sp * np.sqrt(1/n_g1 + 1/n_g2)

        # Calculate the t-statistic
        t_statistic = mean_diff / SE_mean_diff

        # Calculate the p-value
        p_value = 2 * (1 - stats.t.cdf(np.abs(t_statistic), std_t_df))

        # Put the results into a DataFrame
        results = pd.DataFrame({
            "Continuous Variable": [num_var.name],
            "Binary Variable": [bin_var.name],
            "Total Sample Size": [n_g1 + n_g2],
            "Mean Difference": [round(mean_diff, 2)], 
            "SE of Mean Difference": [round(SE_mean_diff, 2)],
            "standard degree of freedom": [std_t_df],
            "t-statistic": [round(t_statistic, 3)],
            "P-value": [("%.3f" % p_value).lstrip('0')],
            "Method" : "Independent samples t-test"
        })
        print("The homogeneity of variance assumption was not violated, so an independent samples t-test was conducted")
        return results

    else:
        #Conduct Welch's t-test
        # Calculate the degrees of freedom (welch_df)
        welch_df = ((var_g1/n_g1 + var_g2/n_g2)**2)/(1/(n_g1-1)*(var_g1/n_g1)**2+(1/(n_g2-1)*(var_g2/n_g2)**2))

        # Calculate the pooled standard deviation (sp)
        sp = np.sqrt(((n_g1 - 1) * var_g1 + (n_g2 - 1) * var_g2) / welch_df)

        # Calculate the standard error of the mean difference
        SE_mean_diff = sp * np.sqrt(1/n_g1 + 1/n_g2)

        # Calculate the t-statistic
        t_statistic = mean_diff / (np.sqrt(var_g1/n_g1 + var_g2/n_g2))

        # Calculate the p-value
        p_value = 2 * (1 - stats.t.cdf(np.abs(t_statistic), welch_df))

        # Put the results into a DataFrame
        results = pd.DataFrame({
            "Continuous Variable": [num_var.name],
            "Binary Variable": [bin_var.name],
            "Total Sample Size": [n_g1 + n_g2],
            "Mean Difference": [round(mean_diff, 2)], 
            "SE of Mean Difference": [round(SE_mean_diff, 2)],
            "welch degree of freedom": [welch_df],
            "t-statistic": [round(t_statistic, 3)],
            "P-value": [("%.3f" % p_value).lstrip('0')],
            "Method" : "Welch's t-test"
        })
        print("The homogeneity of variance assumption was violated, so Welch's t-test was conducted")
        return results